@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --bgColor: #e0e7ff;
  --containerColor: #ddd6fe;
  --success: #34d399;
  --error: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bgColor);
  margin: 0;
}

.container {
  background-color: var(--containerColor);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control small {
  display: none;
  top: 30;
  left: 0;
  color: var(--error);
}

.form button {
  width: 100%;
  cursor: pointer;
  background-color: var(--success);
  border: 2px solid var(--success);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.form-control.success input {
  border-color: var(--success);
}

.form-control.error input {
  border-color: var(--error);
}

.form-control.error small {
  display: block;
}
